#------------------------------
# CHAVES DE API
#------------------------------
GROQ_API_KEY=SUA_GROQ_API_KEY_AQUI
OPENROUTER_API_KEY=SUA_OPENROUTER_API_KEY_AQUI
TICKETSECURE_SECURITY_KEY=SUA_SECURITY_KEY_AQUI
OPENROUTER_API_KEY_TicketSecure-Dev=SUA_OPENROUTER_DEV_KEY_AQUI

#------------------------------
# BANCO DE DADOS PostgreSQL
#------------------------------
POSTGRES_USER=admin
POSTGRES_PASSWORD=adminpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ticketsecure_db

#------------------------------
# RabbbitMQ
#------------------------------
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

#------------------------------
# Spring Boot
#------------------------------
SPRING_BOOT_USERNAME=admin
SPRING_BOOT_PASSWORD=adminpassword

#------------------------------
# JWT
#------------------------------
JWT_SECRET=SUA_CHAVE_SECRETA_JWT_AQUI_MINIMO_32_CARACTERES

#------------------------------
# CORS
#------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:5173
